### Eclipse Specific ###
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.factorypath

# Original
/target/
/.apt_generated/
/.apt_generated_tests/

# AI Agent
CLAUDE.md
GEMINI.md
TODO.md
./cursor
./gemini
./claude
