<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- コンソール出力の設定 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <level>
                    <fieldName>level</fieldName>
                </level>
                <mdc>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                </mdc>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <!-- software.amazon.awssdk パッケージに対するログレベル設定 -->
    <logger name="software.amazon.awssdk" level="ERROR"/>

    <!-- Root ログレベル設定 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
