name: Build and Deploy to GitHub Packages（SesAiAssitantCore）

on:
  push:
    branches:
      - main  # main ブランチにプッシュされたときに実行

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: コードをチェックアウト
        uses: actions/checkout@v4

      - name: JDK をセットアップ
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: AWS CLI のセットアップ
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
          role-session-name: GitHubActionsDeployment
          role-to-assume: arn:aws:iam::536697254314:role/SES-AI-ASSISTANT

      - name: Maven パッケージをビルドしてデプロイ
        run: mvn clean deploy  -Dmaven.test.skip=true --settings .github/maven-settings.xml
        env:
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
